<div class="grid-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around stretch">
        <mat-card fxFlex="45" class="card-primary" (click)="goToTurmas('ap')" [class.mat-elevation-z8]="onOver == 'ap'" matRipple
            (mouseover)="overCard('ap')" (mouseout)="outCard()">
            <mat-card-content>
                <div align="center">
                    <h1 class="mat-h1">
                        <strong>AULAS PRESENCIAIS</strong>
                    </h1>
                </div>
            </mat-card-content>
            <mat-card-content>
                <p align="justify">
                    Acesse para concorrer a uma vaga em cursos presenciais do programa IsF! Para saber se você atende aos critérios para participar
                    do curso, acesse Posso participar?, no Portal IsF. Confirme em Universidades Parceiras se a sua instituição
                    é NucLi (Núcleo de Línguas). Realize sua inscrição e boa sorte!
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="45" class="card-warning" (click)="goToTurmas('co')" [class.mat-elevation-z8]="onOver == 'co'" matRipple
            (mouseover)="overCard('co')" (mouseout)="outCard()">
            <mat-card-content>
                <div align="center">
                    <h1 class="mat-h1">
                        <strong>CURSO ON-LINE</strong>
                    </h1>
                </div>
            </mat-card-content>
            <mat-card-content>
                <p align="justify">
                    Acesse para cursos on-line do Programa Idiomas sem Fronteiras, inclusive o MEO.
                </p>
            </mat-card-content>
        </mat-card>
         <mat-card fxFlex="45" class="card-accent" (click)="goToTurmas('tp')" [class.mat-elevation-z8]="onOver == 'tp'" matRipple
            (mouseover)="overCard('tp')" (mouseout)="outCard()">
            <mat-card-content>
                <div align="center">
                    <h1 class="mat-h1">
                        <strong>TESTE DE PROFICIÊNCIA</strong>
                    </h1>
                </div>
            </mat-card-content>
            <mat-card-content>
                <p align="justify">
                    Acesse para testes de nivelamento e exames de proficiência do programa IsF! Para saber qual instituição é credenciada para
                    aplicação do teste, acesse Centro Aplicador do Idiomas Sem Fronteiras. Para saber as regras para participação,
                    acesse o manual do candidato.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="45" class="card-warn" (click)="goToTurmas('meo')" [class.mat-elevation-z8]="onOver == 'meo'" matRipple
            (mouseover)="overCard('meo')" (mouseout)="outCard()">
            <mat-card-content>
                <div align="center">
                    <h1 class="mat-h1">
                        <strong>MY ENGLISH ON-LINE</strong>
                    </h1>
                </div>
            </mat-card-content>
            <mat-card-content>
                <p align="justify">
                    Acesse para cursos do MEO, curso de inglês on-line do Programa IsF-inglês, uma iniciativa do Ministério da Educação (MEC)
                    e da Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (Capes). O MEO é destinado à comunidade
                    acadêmica (alunos, docentes e técnicos-administrativos) das instituições de nível superior parceiras
                    do Programa IsF. Parceiros específicos e professores de idiomas da Educação Básica podem ter acesso desde
                    que vinculados às instituições parceiras.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>