.toolbar-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.card {
    max-width: 400px;
}

.header-image {
    background-image: url('../assets/img/default-avatar-male.png');
    background-size: cover;
}