@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin card-custom-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // Use mat-color to extract individual colors from a palette as necessary.
  .card-warn {
    background-color: mat-color($warn);
    border-color: mat-color($warn);
    color: mat-color($warn, '500-contrast');
    cursor: pointer;
    margin: 0.5%;
  }

  .card-primary {
    background-color: mat-color($primary);  
    border-color: mat-color($accent);
    color: mat-color($primary, '500-contrast');
    cursor: pointer;
    margin: 0.5%;
  }

  .card-accent {
    background-color: mat-color($accent);
    border-color: mat-color($accent);
    color: mat-color($accent, '500-contrast');
    cursor: pointer;
    margin: 0.5%;
  }

  .card-warning {
    background-color: mat-color($warn, 300);
    border-color: mat-color($warn, 300);
    color: mat-color($accent, '500-contrast');
    cursor: pointer;
    margin: 0.5%;
  }
}