/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: #e9f3f5 ;
}
.grid-container {
    margin: 0.5%;
}
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

